<% include partials/header %>

<a href="http://www.cs.sonoma.edu/~haderman/">CS355 Lab 8 </a>
<br />
<h1>Examples</h1>
<a href=" http://localhost:3000/helloworld.html">Absolute Link Example</a>
<br />
<a href="helloworld.html">Relative Link Example</a>
<br />
<a href="/templatelink">Template Link Example</a>
<br />
<br />
<h1>User Accounts</h1>
<a href="/account/?student_id=1">Account By ID</a>
<br />
<a href="/account/all">All Accounts</a>
<br />
<a href="/users/create">Create New Account</a>
<br />
<a href="/userjob/all">All User Jobs</a>
<br />
<br />
<h1>Schools</h1>
<a href="/school/?s_id=1">School By ID</a>
<br />
<a href="/schools/all">All Schools</a>
<br />
<a href="/schools/create">Create New School</a>
<br />
<br />
<h1>Companies</h1>
<a href="/companygpa/all">All Company GPAs</a>
<br />
<a href="/company/all">All Companies</a>
<br />
<a href="/company/create">Create New Company</a>
<br />
<br />
<h1>Addresses</h1>
<a href="/addresses/all">All Addresses</a>
<br />
<a href="/addresses/create">Create New Addresses</a>
<br />
<%include partials/footer%>
